<div class="comment-section-wrapper">
    <p class="small-title">Due a high volume of orders, standard ground shipments are generally shipping within 2-4 business days.<br>Overnight and 2-day orders only ship/deliver on weekdays & have 12pm CST cut-off time for in-stock items.</p>
    <div class="comment-section">
        <div class="step-title">
            <span><!-- ko i18n: 'Shipping Instructions:'--><!-- /ko --></span>
        </div>
        <form id="special-comments-form2" class="form comments" data-role="special-comments-form">
            <fieldset class="fieldset special-comments">
                <div class="field field-special-comments required">
                    <div class="control">
                        <textarea id="comments" class="input-text" rows="5" cols="10" data-bind="textInput: inputText"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
