<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<ul class="items" itemscope itemtype="http://schema.org/BreadcrumbList">
    <% _.each(breadcrumbs, function(crumb) { %>
    <li class="item <%- crumb.name %>" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <% if (crumb.link) { %>
        <a href="<%= crumb.link %>" title="<%- crumb.title %>"><%- crumb.label %></a>
        <% } else if (crumb.last) { %>
        <strong itemprop="name"><%= crumb.label %></strong>
        <% } else { %>
        <%= crumb.label %>
        <% } %>
    </li>
    <% }); %>
</ul>
